.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  gap: 100px;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

button {
  padding: 20px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}
